.map {
  width: 100%;
  height: 100vh;
}

.layers {
  position: absolute;
  right: 20px;
  z-index: 999;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 8px;
  background-color: black;
  border-radius: 8px;

  &__child {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 40px;
  }
}

.customContext {
  position: fixed;
  display: none;
  z-index: 10;
  list-style: none;
  background: #F7F7F7;
  border: 0.47146px solid #C7C7C7;
  box-shadow: -1.41438px 1.41438px 5.65752px rgba(0, 0, 0, 0.25);
  padding: 4px 0px;
  border-radius: 8.48628px;

  &-element {
    padding: 0 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s;

    &:hover {
      color: #fff;
      background: #3E92F8;
    }
  }
}

.modalWindow {
  position: absolute;
  z-index: 100;
  left: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border: 0.47146px solid #C7C7C7;
  box-shadow: -1.41438px 1.41438px 5.65752px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 8px;
  gap: 8px;

  .error {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ED1B23;
    margin-left: 6px;
  }

  h1 {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
  }

  input {
    padding: 8px 12px;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    outline: none;
  }

  button {
    transition: all .3s;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #FF6600;
    color: #FF6600;
    background: #FFFFFF;
    padding: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
  }

  button:disabled {
    color: #767676;
    background: #fff;
    border: 1px solid #EBEBEB;
    background: #EBEBEB;
  }
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}
